


<section class="section-add-comanda">
  <button (click)="addComanda()">Adicionar Comanda</button>
  <button routerLink="/card-closed">Comandas Fechadas</button>

</section>

<section class="container">

    <div class="card-container" *ngFor="let comanda of comandas; let i = index">
      
      <div class="head-container">
        <h3 class="title-card">{{ comanda.name }}</h3>

        <div class="search-container">

            <input
              class="input-search"
              type="text"
              placeholder="Buscar Produto"
              [(ngModel)]="comanda.searchText"
              (input)="searchProduct($event)"
            />
            
            <ul *ngIf="comanda.searchText">
              <li *ngIf="noProductsFound">Produto não encontrado</li>
              <li
                *ngFor="let produto of filteredProdutos(comanda)"
                [class.selected]="produto === selectedProduto"
                (click)="selectProduto(produto, comanda, i)"
              >
                {{ produto.name }} - {{ produto.price | currency: 'BRL' }}
              </li>
            </ul>
      
        </div>
      </div>

      <hr>

      <div class="main-container">
        <div class="meio-container" *ngFor="let item of comanda.products; let j = index">
          <div class="main-container-title">
            <h5>{{ item.name }}</h5>
          </div>
          <div class="main-container-value">
            <button class="btn-menos" (click)="updateItem(i, j, false)" [disabled]="item.quantity <= 1">-</button>
            <span>{{ item.quantity }}</span>
            <button class="btn-mais" (click)="updateItem(i, j, true)">+</button>
            <span>{{ item.price | currency: 'BRL' }}</span>
            <button class="btn-delete-item" (click)="deleteItem(i, j)">
              <img src="assets/delete.png" alt="" width="15px" height="13px">
            </button>
          </div>
    
        </div>
      </div>

      <hr class="second-hr">

      <div class="footer-container">
        <span>Total:</span>
        <span>{{ comanda.totalPrice | currency: 'BRL' }}</span>
      </div>
      <button class="cardClosed" (click)="deleteComanda(i, comanda)">Fechar Comanda</button>

    </div>

</section>



