
<main class="main-container">
    <div class="card-container">

        <div class="head-card">
            <h2 class="name-head-card">Joana</h2>
        </div>
        <div class="main-card">
            <div class="info-product">
                <p class="name-product">heineken</p>
                <button>-</button>
                <p class="quantity-product">2</p>
                <button>+</button>
                <p class="price-product">R$ 14,00</p>
                <button>Excluir</button>
            </div>
            <div class="info-product">
                <p class="name-product">Salgadinho</p>
                <button>-</button>
                <p class="quantity-product">7</p>
                <button>+</button>
                <p class="price-product">R$ 14,00</p>
                <button>Excluir</button>
            </div>
            
            <button>+</button>
        </div>
        <div class="footer-card">
            <p>Total: </p>
            <h1 class="price-total">R$ 400,00</h1>
        </div>
        
    </div>
</main>

