
<main class="main-container">
    <div class="card-container" *ngFor="let item of cards">

        <div class="head-card">
            <h2 class="name-head-card">{{item.name}}</h2>
        </div>
        <div class="main-card" *ngFor="let item of item.products">
            <div class="info-product">
                <p class="name-product">{{item.name}}</p>
                <button>-</button>
                <p class="quantity-product">2</p>
                <button>+</button>
                <p class="price-product">R$ 14,00</p>
                <button>Excluir</button>
            </div>
            <button>+</button>
        </div>
        <div class="footer-card">
            <p>Total: </p>
            <h1 class="price-total">R$ {{item.totalPrice}}</h1>
        </div>
        
    </div>
</main>

